body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    

    
}

.content{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
    
}

.content-left{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #29294b;
}

.content-left-right{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    height: 600px;
    width: 800px;
    overflow: hidden;
}

.content-right{
    width: 80%;
    background-image: url(./img/brainbg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.index:hover{
    cursor: pointer;
    transform: scale(0.9);
}

.nav{
    justify-content: center;
    margin-top: 100px;
}

.progress-bar-container{
    width: 800px;
      
}

.progress{
    border-radius: 0 !important;
}

.img-logo{
    margin-top: 10px;
    width: 70px;
}

.position-list{
    margin-bottom: 200px !important;
}

.headlines{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 200px;
}

.font-h1{
    font-family: "pt sans"!important;
    font-weight: bold;
}

.font-h2{
    font-family: "pt sans"!important; 
}

.font-content-left{
    font-family: "Rubik"!important;
}

h1{
    font-size: 2rem !important;
}

h2{
    font-size: 1.5rem !important;
}

.btn-pos{
    border: none !important;
    width: 200px !important;
    margin-bottom: 150px;
}

.card{
    width: 30rem !important;
    display: flex !important;
    justify-content: center;
    border: none;
    --bs-card-spacer-y: 0.5rem !important;
    --bs-card-spacer-x: 0.5rem !important;

    
}



.bg-color{
    background-color: #F7F7F7 !important;
}

.card-position{
    display: flex;
    justify-content: flex-start;
    align-items: center;
} 

.card-text{
    text-align: center;
}

.question-footer{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;
    width: 30rem;
}

b{
    margin-right: 5px;
    margin-left: 5px;
}

.abcd{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.answer-card:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.endscreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.brain-result{
    width: 100px;
    margin-bottom: 1rem;
}

.nav-link:hover{
    color: white !important;
}

.btn-width{
    width: 160px;
}

.font-endscreen-text{
    font-family: "Rubik";
    font-weight: bold;
}

.content-right-bg-d-none{
    background-image: none;
}

.font-endscreen-button{
    font-family: "Rubik" !important;
}

.solid-bar{
    width: 35px;
    margin-right: 10px;
    cursor: pointer;   
}

.solid-bar:hover{
    transform: scale(0.9);
}

.overlay-menu{
    position: absolute;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: translateX(1900px);
    transition: all 225ms ease-in-out;
    
    
}

.show-overlay-menu{
    transform: translateX(0);

} 

.close-menu-btn{
    position: absolute;
    right: 0;
    margin-right: 25px;
    margin: 25px;
    border: 2px solid black;
    color: black;
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    
}

.close-menu-btn:hover{
    color: red;
    transform: rotate(90deg);
}

  


.d-none{
    display: none;
}

/*Responsive style*/

@media(max-width: 820px){
    .content-left-right{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 600px;
    }

    .content-left{
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: initial !important;  
        padding: 10px; 
    }

    .content-right{
        width: 100vw;
        height: 600px;
        background-color: #F7F7F7;
    }

  .nav{
    margin-top: 0px;
  }
      
    .progress-bar-container{
        width: 100vw;
    }
    
    .position-list{
        margin-bottom: 0 !important;
    }
    
    .img-logo{
        margin-top: 0;
        margin-left: 10px;
    }

    .question-footer{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 30rem;
      }
  
    .question-number{
    text-align: center;
}

.headlines{
    margin-top: 150px;
}

.btn-pos{
    margin-bottom: 100px;
}

.mt-5{
    margin-top: 0px !important;
}
}

@media(min-width:505px){
    .solid-bar{
        display: none;
    }

    
}
@media(max-width: 505px){
    .card{
        width: 19rem !important;
        font-size: 14px !important;
    }

    .content-left-right{
        height: 100vh;
    }

    .content-right{
        height: 100vh;
        justify-content: flex-start;
        background-image: none;

    }

    



    .content{
        height: 100vh;
    }


.question-footer{
    width: 19rem;

}

.question-number{
    font-size: 14px;
}

.font-h1{
    font-size: 28px !important;
}

h2{
    font-size: 20px !important;
}


.nav{
    
    --bs-nav-link-color: var(--bs-link-color);
}

.nav-item{
    display: none !important;
}

.btn-pos{

    width: 160px !important;
    font-size: 16px !important;
}

.headlines{
    margin-bottom: 50px;
}

.btn-lg{
    --bs-btn-padding-y: 0rem !important;
    --bs-btn-padding-x: 0rem !important;
    --bs-btn-font-size: 1rem !important;
    width: 120px;

}

.nav-link{
    color: blue !important;
    font-weight: bold !important;
}

.nav-link:hover{
    color: rgb(88, 118, 255) !important;
    text-decoration: underline;
    cursor: pointer;
}

}





